.App {
  font-family: "DM Sans", sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(249, 249, 249);
  color: #3b82f6;
  text-align: center;
  padding: 0.5rem 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  margin-left: -65px;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 0.4rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
